*{
  margin: 0;
  padding: 0;
}


.ml{
    margin-left: -30px;
}

.wl{
  width:680px ;
  height: 35px;
}
.fl{
    margin-left: 250px;

    
}
.cl-btn{
  display: inline-block;
  padding: 7px 3px;
  border: none;
  background-color: #3498db;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-top: 37px;
}
.cl-btn:hover{
  background-color: #f39c12;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}



.drop-down{
  
  
    margin-top: -18px;
    font-weight: bold;
    
}
.drop-down.active{
   opacity: 1;
   visibility: visible;
   transform: translateY(0);
   transition: 500ms ease;
}
.drop-down.inaactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms ease;
}
.drop-down ul{
  display: grid;
  line-height: 38px;
  margin-left: 938px;
  background-color: bisque;
  justify-content: center;
  width: 130px;
  border-radius: 23px;
   
}
.pay{
  margin-left: 228px;
  margin-top: -22px;

}
.Ml{
  margin-left: 10px;
}
.pr{
  padding-right: 170px;
}

.ad-dr{
  margin-left: 89px;
  margin-top: -1px;
}

