.ml{
    margin-left: -30px;
}

.wl{
  width:680px ;
  height: 35px;
}
.fl{
    margin-left: 250px;

    
}
.cl-btn{
   background-color: antiquewhite;
   margin-top: 30px;
   border-radius: 10px;
   font-weight: bold;
}
.drop-down{
  
  
    margin-top: -18px;
    font-weight: bold;
    
}
.drop-down.active{
   opacity: 1;
   visibility: visible;
   transform: translateY(0);
   transition: 500ms ease;
}
.drop-down.inaactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms ease;
}
.drop-down ul{
  display: grid;
  line-height: 38px;
  margin-left: 938px;
  background-color: bisque;
  justify-content: center;
  width: 130px;
  border-radius: 23px;
   
}


